body {
  background-color: powderblue;
}
#zero{
  background-color:#5729ce;
  margin: 100px;
}
#one {
  background-color: blue;

}
#Two{
  background-color:#0048ba;
}
#Tree{
  background-color:#00626f;
}
#footer{
  background-color:#5a6370;
}